*.xml
*.iml
.idea/dictionaries
*.npy
*.npz
*.pt
*.zip
*.csv
data/data/README.md
*.pyc
*/__pycache__/*
*.ipynb_checkpoints/*
GNNFakeNews/data/local/gossipcop/*
GNNFakeNews/data/local/politifact/*
GNNFakeNews/data/fakenewsnet_dataset/*
GNNFakeNews/models/cased_L-24_H-1024_A-16/*
GNNFakeNews/notebooks/plot_images/*
Huggingface/notebooks/dataset_edited/*
Huggingface/notebooks/results/*
Huggingface/noteboooks/plot_images/*